*.a
*.app
*.chi
*.chs.h
*.class
*.dll
*.dylib
*.ear
*.egg
*.egg-info
*.hi
*.jar
*.la
*.lai
*.lib
*.lo
*.mo
*.o
*.py[cod]
*.slo
*.so.*
*.war
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
.virthualenv
__pycache__
bin
build
cabal-dev
develop-eggs
dist
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
